@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Yellowtail');

:root{
  --base00: #2d2d2d;
  --base01: #393939;
  --base02: #515151;
  --base03: #747369;
  --base04: #a09f93;
  --base05: #d3d0c8;
  --base06: #e8e6df;
  --base07: #f2f0ec;
  --base08: #f2777a;
  --base09: #f99157;
  --base10: #ffcc66;
  --base11: #99cc99;
  --base12: #66cccc;
  --base13: #6699cc;
  --base14: #cc99cc;
  --base15: #d27b53;

  --transition: .2s;
}


body{
  width:100%;
  height:100%;
  margin:0;
  /*
  color(var--base06);
  font-family: 'Fira Mono', monospace
  */
}

/*
h1{
  font-family: 'Yellowtail', cursive;
  font-size:100px;
}
*/

a{
  color:inherit;
  text-decoration:none;
}

/*
.content{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
*/

/*
#links{
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.category{
  text-align:left;
  font-size:22px;
  padding:5px;
}

*/
/*
.category .title{
  font-weight:bold;
  color: inherit;
  margin-right:10px;
  text-align:right;
}

.category .title:after{
  content: "|";
  position: relative;
  right:-5px;
  margin-top:1px;
}
*/

/* .category td{
  height:30px;
}

.category .edit{
  color: var(--base03);
  cursor: pointer;
  font-weight: bold;
  border-radius:50%;
  width:30px;
  text-align: center;
}

.category .edit:hover{
  background: var(--base01);
}
*/

/*
.category .item{
  color:var(--base06);
  transition: color var(--transition);
  padding:0px 10px;
  position:relative;
  cursor: pointer;
}

.category .item.crossOut:before{
  content:"";
  position:absolute;
  display:block;
  left:0;
  top:13px;
  height:4px;
  width:0px;
  background:var(--base06);
  transition: width var(--transition);
}

.category .item.crossOut:hover:before{
  width:100%;
}

.category a:after{
  content: "|";
  position: relative;
  left:0px;
  margin-top:-2px;
  color: var(--base06);
}

.category a:last-child:after{
  content: "";
}

.category .item:hover{
  color:inherit;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
}

#time{
  position:absolute;
  left:20px;
  font-size:40px;
}

/*
.circle{
  border-radius:50%;
}

footer .circle{
  width:40px;
  height:40px;
}

#settingsTray{
  text-align: right;
}

#editIcon{
  position:absolute;
  cursor: pointer;
  right:20px;
}

.settingItem{
  cursor:pointer;
  position: relative;
  right:70px;
  display:inline-block;
}

*/
/*
.addButton{
  width:30px;
  box-sizing:border-box;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  border-radius: 15px;
  height:30px;
  overflow: hidden;
  transition: width var(--transition);
}
*/

/*
.addButton input{
  width:140px;
  visibility: hidden;
  display:none
}
*/
/*
.addButton:hover{
  background: var(--base01);
}

.addButton.expanded{
  width:210px;
  background: var(--base03);
}

.addButton.expanded.large{
  width:375px;
}

.addButton.expanded input{
  visibility: visible;
  display:inline;
}

.addButton.expanded:hover{
  background: var(--base03);
}

.addButton span{
  cursor: pointer;
  font-size:25px;
  margin-left:-3px;
  margin-right:5px;
  transition: color var(--transition);
  color: var(--base03);
}

.addButton.expanded span{
  color: var(--base00);
}

.addButton input{
  flex-basis: auto;
  padding: 0 10px;
  margin: 4px;
  background: var(--base01);
  color: var(--base05);
  border:none;
}
*/

.color-base00{
  color:var(--base00);
}
.color-base01{
  color:var(--base01);
}
.color-base02{
  color:var(--base02);
}
.color-base03{
  color:var(--base03);
}
.color-base04{
  color:var(--base04);
}
.color-base05{
  color:var(--base05);
}
.color-base06{
  color:var(--base06);
}
.color-base07{
  color:var(--base07);
}
.color-base08{
  color:var(--base08);
}
.color-base09{
  color:var(--base09);
}
.color-base10{
  color:var(--base10);
}
.color-base11{
  color:var(--base11);
}
.color-base12{
  color:var(--base12);
}
.color-base13{
  color:var(--base13);
}
.color-base14{
  color:var(--base14);
}
.color-base15{
  color:var(--base15);
}

.background-base00{
  background:var(--base00);
}
.background-base01{
  background:var(--base01);
}
.background-base02{
  background:var(--base02);
}
.background-base03{
  background:var(--base03);
}
.background-base04{
  background:var(--base04);
}
.background-base05{
  background:var(--base05);
}
.background-base06{
  background:var(--base06);
}
.background-base07{
  background:var(--base07);
}
.background-base08{
  background:var(--base08);
}
.background-base09{
  background:var(--base09);
}
.background-base10{
  background:var(--base10);
}
.background-base11{
  background:var(--base11);
}
.background-base12{
  background:var(--base12);
}
.background-base13{
  background:var(--base13);
}
.background-base14{
  background:var(--base14);
}
.background-base15{
  background:var(--base15);
}
